@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--disc-size: max(50vmin, 500px);
		--input-size: 4em;
	}

	body {
		background-color: #000;
		color: #fff;
		overflow: hidden;
	}

	label {
		cursor: pointer;
	}

	select {
		cursor: pointer;
		background-color: transparent;
	}

	input,
	textarea {
		background-color: transparent;
	}

	summary {
		user-select: none;
		cursor: pointer;
		display: inline-block;
	}
}

@layer utilities {
	.focus {
		position: relative;
		z-index: 1;
		outline: 1px dashed transparent;
		outline-offset: 0;
		animation: focus 0.2s ease-in-out forwards;
	}

	@keyframes focus {
		to {
			outline-color: currentColor;
			outline-offset: 2px;
		}
	}

	.glow { filter: drop-shadow(0 0 1ch currentColor) }
	.glow-sm { filter: drop-shadow(0 0 0.5ch currentColor) }

	.off {
		opacity: 0.5;
		filter: grayscale();
	}

	.center {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
