@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--disc-size: 300px;
		--input-size: 4em;
	}

	body {
		background-color: #000;
		color: #fff;
	}

	label {
		cursor: pointer;
	}
}

@layer utilities {
	.center {
		position: absolute;
		left: 50%;
		top: 50%;
		translate: -50% -50%;
	}
}
