@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--disc-size: 500px;
		--input-size: 4em;
	}

	body {
		background-color: #000;
		color: #fff;

		@apply font-mono;
	}

	label {
		cursor: pointer;
	}

	select {
		cursor: pointer;
		background-color: transparent;
	}

	input,
	textarea {
		background-color: transparent;
	}

	summary {
		user-select: none;
		cursor: pointer;
		display: inline-block;
	}
}

@layer utilities {
	.focus {
		outline: 1px dashed;
		outline-offset: 2px;
	}

	.center {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.off {
		opacity: 0.5;
		filter: grayscale();
	}
}
